.register__content {
    background-color: #EFEFEF;
    padding-top: 50px;
}

.register__content p {
    text-align: center;
}

.register__title {
    font-size: 20px;
    font-weight: bold;
}

.register__name {
    text-align: center;
}

.register__name input {
    width: 400px;
    height: 40px;
    background-color: #EFEFEF;
    border-radius: 3px;
    border-color: #818181;
    color: #878787;
    margin-top: 20px;
    padding-left: 10px;
}

.register__email {
    text-align: center;
}

.register__email input {
    width: 400px;
    height: 40px;
    background-color: #EFEFEF;
    border-radius: 3px;
    border-color: #818181;
    color: #878787;
    margin-top: 20px;
    padding-left: 10px;
}

.register__password {
    text-align: center;
}

.register__password input {
    width: 400px;
    height: 40px;
    background-color: #EFEFEF;
    border-radius: 3px;
    border-color: #818181;
    color: #878787;
    margin-top: 20px;
    padding-left: 10px;
}

.register__confirmation {
    text-align: center;
}

.register__confirmation input {
    width: 400px;
    height: 40px;
    background-color: #EFEFEF;
    border-radius: 3px;
    border-color: #818181;
    color: #878787;
    margin-top: 20px;
    padding-left: 10px;
}

.register__form__submit {
    text-align: center;
}

.register__form__submit input {
    width: 400px;
    height: 40px;
    background-color: #192FD9;
    border-radius: 3px;
    border-color: #192FD9;
    color: white;
    margin-top: 20px;
    padding-left: 0 auto;
    cursor: pointer;
}

.register__support {
    text-align: center;
    padding-bottom: 95px;
}

.register__support__p {
    color: #878787;
    margin-top: 20px;
    margin-bottom: 0px;
}

.register__support__a {
    color: #192FD9;
    text-decoration: none;
}